<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828042140504-9668dos2e7sikg389bkrfr3f7mk6p24b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828042140504-9668dos2e7sikg389bkrfr3f7mk6p24b</string>
	<key>API_KEY</key>
	<string>AIzaSyCXZDSCFR-i0BGWShCG1FfoR4gYDSVsYcM</string>
	<key>GCM_SENDER_ID</key>
	<string>828042140504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yul.googleAdMob</string>
	<key>PROJECT_ID</key>
	<string>admob-d4199</string>
	<key>STORAGE_BUCKET</key>
	<string>admob-d4199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828042140504:ios:8beb29eb82ac95181b632d</string>
	<key>DATABASE_URL</key>
	<string>https://admob-d4199.firebaseio.com</string>
</dict>
</plist>